<!DOCTYPE html>
<html>
<head>
  <title >Cart</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/a03bfa2223.js" crossorigin="anonymous"></script>
</head>
<body>
  <h2 class="heading">Cart</h2>
  <a class="catalog__cart-link" href="index.php"><h3 class="catalog__h3">Catalog</h3></a>
  <section class="section">
    <div class="products">
      {% if not isCartEmpty %}
        {% for product in products %}
          <div class='catalog__product'>
            <a class='catalog__link' href="counter.php?productId={{ product.id }}" >
              <div class='catalog__wrapper'>
                <img class='catalog__image' id="{{ product.id }}" src="{{ product.url }}"
                alt="product-{{ product.id }}">
              </div>
              <p class='catalog__title'><b>{{ product.title }}</b></p>
              <p class='catalog__price'>Quantity: {{ product.qty }}</p>
              <p class='catalog__price'>Subtotal: {{ product.subTotal }} &#8381;</p>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% if not total == 0 %}
      <h3 class='cart__total'>Total price: {{ total }}</h3>
      <a href="checkout.php" class="btn buy-btn">
        <i class="fas fa-money-check-alt"></i><span> Купить</span>
      </a>
    {% else %}
      <h3 class='cart__total'>Cart is empty</h3>
    {% endif %}
  </section>
<script>
</script>
</body>
</html>