<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/a03bfa2223.js" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <h2 class="heading">Product</h2>  
  </header>
  <nav class="nav-center">
    <a class="nav-link m0" href="cart.php">Cart</a>
    <a class="nav-link m0" href="index.php">Catalog</a>
  </nav>
  <section class="product">
    {% if selectResult %}
      <img class='product-img' src="{{ product.url }}" alt="{{ id }}">
      <div class='product-body'>
        <p class='product-text'><b> {{ product.title }} </b></p>
        <p class='product-text'> Price: {{ product.price }} &#8381;</p>
        <p class='product-text'> Популярность: {{ product.counter_clicks }} </p>
        {% if not isCartEmpty %}
          <p class='product-text'> Количество товара в корзине: {{ qty }} шт. </p> 
          <p class='product-text'> Общая стоимость: {{ subTotal }} &#8381;</p>
        {% endif %}
        </div>
    {% endif %}
    <div class="cart__links">
      <a class='add-to-cart-link' href="./Functions/addToCart.php?productId={{ id }}">
        <i class='fas fa-cart-plus'></i> Add to cart
      </a>
      <a class='del-from-cart-link' 
        href="./Functions/delFromCart.php?productId={{ id }}">
        <i class="fas fa-trash"></i> Delete from cart
      </a>
    </div>
  </section>
</body>
</html>